@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  color: inherit;
}

body,
html {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.05em;
  color: var(--text-color);
  background-color: var(--support-background-color);
}

body {
  min-height: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  box-sizing: border-box;
  // outline: none;
  appearance: none;
  border: none;
  display: block;
  background-color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
ul li,
ul ul li {
  text-indent: 0;
  list-style: none outside none;
}

li {
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}
