.icon {
  height: calc(30px * var(--multiplier));
  width: calc(30px * var(--multiplier));
}

.icon-auto {
  width: auto;
  height: calc(46px * var(--multiplier));
}

.centering {
  display: grid;
  justify-items: center;
  align-content: center;
  height: max-content;
  width: max-content;
}

.medica {
  content: '';
  height: calc(80px * var(--multiplier));
  margin-bottom: calc(30px * var(--multiplier));

  &:before {
    color: black;
    content: 'medica';
  }
}

.logo {
  font-size: calc(3em * var(--multiplier));
  justify-self: center;
  align-self: center;
}

.icon-container {
  display: grid;
  justify-content: center;
  align-content: center;
}
