.report-change {
  margin: calc(50px * var(--multiplier));
  height: calc(80px * var(--multiplier));
  display: grid;
  justify-content: center;
  align-content: center;

  &-container {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-content: center;
    border-radius: 360px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
}

.report-section {
  background-color: #A59ECD;
  padding: calc(30px * var(--multiplier));
  padding-inline: calc(80px * var(--multiplier));
  font-size: calc(28px * var(--multiplier));

  &.left {
    border-radius: 360px 0 0 360px;
  }

  &.right {
    border-radius: 0 360px 360px 0;
  }

  &.active {
    background-color: white;
  }
}

.reports {
  background-color: silver;
}

.thing {
  display: grid;
  padding-inline: calc(50px * var(--multiplier));
  padding-top: calc(10px * var(--multiplier));
}

.to {
  display: grid;
  align-content: center;
  grid-auto-flow: column;
  grid-template-columns: calc(500px * var(--multiplier));
  gap: calc(30px * var(--multiplier));
  width: 100%;
}

.consider {
  height: calc(80px * var(--multiplier));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 360px;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: calc(1.4em * var(--multiplier));
  background-color: white;
  overflow: hidden;

  &.date {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &.generate {
    background-color: #A59ECD;
    outline: none;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }
}

input {
  text-align: center;
  display: inline;
  height: calc(80px * var(--multiplier));
}

.dateStart {
  border-right: 1px solid silver;
  padding-left: calc(20px * var(--multiplier));
}

.dateEnd {
  padding-right: calc(20px * var(--multiplier));
  border-left: 1px solid silver;
}

input[type="date"]{
    background-color: silver;
    color: #ffffff;
    font-size: calc(1.4em * var(--multiplier));
    border: none;
    outline: none;
}
::-webkit-calendar-picker-indicator{
    background-color: silver;
    padding: calc(5px * var(--multiplier));
    cursor: pointer;
    border-radius: 3px;
}

.sancheck {
}
