#content-signup {
  background-color: #cccccc;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.login {
  &-container {
    height: calc(500px * var(--multiplier));
    width: calc(500px * var(--multiplier));
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

  &-header {
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    height: calc(100px * var(--multiplier));
    background-color: var(--signature-color);
    border-radius: calc(40px * var(--multiplier)) calc(40px * var(--multiplier)) 0px 0px;
  }

  &-form {
    display: grid;
    justify-content: center;
    align-content: center;
    height: calc(400px * var(--multiplier));

    &-fields {
      display: grid;
      gap: calc(30px * var(--multiplier));
      grid-template-rows: calc(70px * var(--multiplier)) calc(70px * var(--multiplier)) calc(10px * var(--multiplier)) calc(70px * var(--multiplier));
      width: calc(400px * var(--multiplier));
    }

    &-field {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 360px;
      outline: none;
      padding-inline: calc(30px * var(--multiplier));
      font-size: calc(1.7em * var(--multiplier));
      &.name {
      }
      &.password {
      }
      &.submit {
        background-color: var(--signature-color);
        color: white;
      }
    }
  }

  &-ref {
    margin-block: -20px;
    justify-self: end;
    color: var(--signature-color);
  }
}
